html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style.
      body {
        margin: 0;        
        font-family: sans-serif;
      }
      .main {
        width: 700px;
        margin: auto;
        font-size: 18px;
      }

      img.logo {
        width: 300px;
        margin: auto;
      }

      a.sty {
        cursor: default;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
      }

      h1, h2, h3, p {
        color: black;
        text-align: center;
        margin: 0;
      }     
      a{
        color: #0078FF;
      }
      
     .footer {
        width: 700px;
        margin: auto;
        padding-bottom: 30px;
      }

      .content-footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-bottom: 100px;
      }

      .content-footer .item{
        margin: auto;
      }
       td div{
        display: flex;
        align-items: center;
      }

      td div a{
        margin-right: 5px;
      }

      table tr td{
        padding: 20px 80px;
      }

      img.icon{
        width: 35px;
        height: 35px;
      }

      table a{
        text-decoration: none;
        color: #000;
        font-weight: 500;
      }
      .content{
        margin-bottom: 30px;
        text-align: center;
      }
      .content2{
        margin-bottom: 60px;
      }
      .content3{
        margin-bottom: 80px;
      }
      .content em{
        color: #000;
      }
  body
    .main
      a.sty(href='#').content
        img.logo(src="https://res.cloudinary.com/dwt2mlvvc/image/upload/v1607695871/LightLogo_dp2edv.png")
      
      .content-0.content 
        h3 Hey #{name}, NICE TO HAVE YOU ON BOARD!
        <em>"Alone we can do so little, together we can do so much"</em>

      .content 
        p Combine your skills with the EZ DUMP TRUCK APP features to
        p improve  your performance and get things done!!!

      .content
        p We'll do everything we can help and support you ass you need it...

      .content
        p To make it official, log in at <a href='#'>ezdumptruck.com/dispatcher</a> with:

      .content2
        P Email: #{email} 
        P Temporary password: #{password}

      .content3
        P if you need any help at all, get in touch with us at 
        P <a href='#'>hello@ezdumptruck.com</a> we'll be more than happy to lend a hand
    
      .footer
        h2 Want more?
        table.center-table
          tr
            td <div><a href="https://www.facebook.com/" target='_blank'>Like us on Facebook</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/logotipo-circular-de-facebook_f4n6ix.png" class="icon"></img></div>
            td <div><a href="https://www.twitter.com/" target='_blank'>Join us on Twitter</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/gorjeo_orky7q.png" class="icon"></img></div>
          tr 
            td <div><a href="https://www.instagram.com/" target='_blank'>Follow us on instagram</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/logotipo-de-instagram_fd60zj.png" class="icon"></img></div>
            td <div><a href="https://www.google.com/" target='_blank'>Learn more at</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/LOGOIMAGEN_km9yf4.png" class="icon"></img></div>
    
        
