html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style.
      body {
        margin: 0;        
        font-family: sans-serif;
      }
      .main {
        width: 700px;
        margin: auto;
        font-size: 18px;
      }

      img.logo {
        width: 300px;
        margin: auto;
      }
      
      .apps{
        margin-bottom: 30px;
        text-align: center;
      }

      .apps img{
        width: 250px;
        margin: 10px;
      }

      a.sty {
        cursor: default;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
      }

      h1, h2, h3, p {
        color: black;
        text-align: center;
      }

       img.icon{
        width: 35px;
        height: 35px;
      }

      .list{
        width: 75%;
        margin:auto auto 50px;
      }
       img.icon2{
        width: 40px;
        height: 40px;
      }
      img.icon3{
        width: 30px;
        height: 30px;
      }

      .list p{
        margin: 15px auto;
        text-align: initial;
      }

      .list p a{
        text-decoration: none;
        color: #0078FF;
        font-weight: 500;
      }

      .desc p{
        margin: 0;
      }

      .desc{
        padding: 0px 0px 30px 0px;
      }

      .addr, .date {
        margin: 1px;
        font-size: 19px
      }

      img.btn {
        width: 238px;
        margin-left: 181px;
      }

      .footer {
        width: 700px;
        margin: auto;
        padding-bottom: 30px;
      }

       table tr td{
        padding: 20px 80px;
      }

      table a{
        text-decoration: none;
        color: #000;
        font-weight: 500;
      }

      td div{
        display: flex;
        align-items: center;
      }

      td div a{
        margin-right: 5px;
      }

      .features{
        color: #0078FF;
        font-weight: 500;
        margin-bottom: 50px;
      }

      .content-1{
        margin-bottom: 30px;
      }
      .content-1 span{
        color: #0078FF;
      }
      .content-1 p{
        margin: 0;
      }

      .content-2 p{
        margin: 0;
      }
      
      .content-2 span{
        color: #0078FF;
      }
  body
    .main
      a.sty(href='#')
        img.logo(src="https://res.cloudinary.com/dwt2mlvvc/image/upload/v1607695871/LightLogo_dp2edv.png")
      .desc  
        p There was problem with the invoice number #{invoiceID} reported by #{reportBy}
        p dispute details: 
        p #{message} 
    
      .content-2
        P If you need any help at all, get in touch with us at    
        P <span>hello@ezdumptruck</span> or 919-946-8860. we'll be more than
        p happy to lend a hand  
    
      .footer
        h2 Want more?
        table.center-table
          tr
            td <div><a href="https://www.facebook.com/" target='_blank'>Like us on Facebook</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/logotipo-circular-de-facebook_f4n6ix.png" class="icon"></img></div>
            td <div><a href="https://www.twitter.com/" target='_blank'>Join us on Twitter</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/gorjeo_orky7q.png" class="icon"></img></div>
          tr 
            td <div><a href="https://www.instagram.com/" target='_blank'>Follow us on instagram</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/logotipo-de-instagram_fd60zj.png" class="icon"></img></div>
            td <div><a href="https://www.google.com/" target='_blank'>Learn more at</a> <img src="https://res.cloudinary.com/dtn38ytgc/image/upload/v1614803760/templates/LOGOIMAGEN_km9yf4.png" class="icon"></img></div>