html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style.
      body {
        margin: 0;        
        font-family: sans-serif;
      }
      .main {
        width: 700px;
        margin: auto;
        font-size: 18px;
      }

      img.logo {
        width: 300px;
        margin: auto;
      }

      a.sty {
        cursor: default;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
      }

      h1, h2, h3, p {
        color: black;
        text-align: center;
      }

      .list{
        width: 75%;
        margin:auto auto 50px;
      }

      .list p{
        margin: 15px auto;
        text-align: initial;
      }

      .list p a{
        text-decoration: none;
        color: #0078FF;
        font-weight: 500;
      }

      .desc p{
        padding: 0px 90px;
        margin: 0;
      }

      .addr, .date {
        margin: 1px;
        font-size: 19px
      }

      img.btn {
        width: 238px;
        margin-left: 181px;
      }

      .footer {
        width: 700px;
        margin: auto;
        padding-top: 10px;
      }

      table tr td{
        padding: 20px 80px;
        color: #000;
      }

      .features{
        color: #0078FF;
        font-weight: 500;
        margin-bottom: 50px;
      }
      .center-table{
        margin: auto;
      }
      .content-1{
        margin-bottom: 30px;
      }
      .content-1 span{
        color: #0078FF;
      }
      .content-1 p{
        margin: 0;
      }

      .content-2 p{
        margin: 0;
      }
      
      .content-2 span{
        color: #0078FF;
      }
  body
    .main
      a.sty(href='#')
        img.logo(src="https://res.cloudinary.com/dwt2mlvvc/image/upload/v1607695871/LightLogo_dp2edv.png")
      .desc  
        p We're excited to welcome you to the EZ DUMP TRUCK
        p community, to make sure you have the most reliable dump trucks
        p start by:
      .list
        p 1. 
          a(href=link target='_blank') Verify your email.
        p 2.
          a(href='#') Complete company profile.
        p 3.
          a(href='#') And post a job, to get dump trucks just in minutes.
      .content-1
        p Our world-class Marketplace offer unique and personalized features that
        p you can take advantage of, and the Best part: <span>IT'S FREE</span>

      p.features SEE ALL FEATURES

      .content-2
        P If you need any help at all, get in touch with us at    
        P <span>hello@ezdumptruck</span> we'll be more than happy to lend a hand    
    
      .footer
        h2 Want more?
        table.center-table
          tr
            td Like us on Facebook
            td Join us on Twitter 
          tr 
            td Follow us on instagram
            td Learn more at